{% extends "baselayout.html" %}

{% block content %}
    <div>
        <h1 id="Login"> Login </h1>
        <form method="POST" action="">
            <label for="username"> Username: </label>
            <input type="text" id="username" name="username"><br><br>

            <label for="password"> Password: </label>
            <input type="password" id="password" name="password"><br><br>

            <input type="radio" id="agent" name="loginas" value="agent" checked>
            <label for="agent">Agent</label> <br>

            <input type="radio" id="hospital" name="loginas" value="hospital">
            <label for="hospital">Hospital</label>

            <br><br>
            <input type="submit" value="Submit">
            {% if value %}
            <div> {{ value.error }} </div>
            {% if value.agent %}
            <div> Loggedin as Agent {{value.agent}} </div>
            {% endif %}

            {% if value.hospital %}
            <div> Loggedin as Hospital {{value.hospital}} </div>
            {% endif %}

            {% endif %}
        </form>
    </div>>
{% endblock content%}
