{% extends "baselayout.html" %}

{% block content %}
    <div>
        <h2 style="text-align:center; margin: 40px;  ">You are logged in for </h2>
    </div>
    <div style="align-items: center; width:28%; display: block; margin-left: auto; margin-right: auto; margin-bottom:10px; border: 3px solid #e7370f; ">
        <div style="margin: 20px; text-align: center">
            <label id="minutes">00</label>
            <label id="colon">:</label>
            <label id="seconds">00</label>
        </div>
        
    </div>
    <a href="http://127.0.0.1:5000/" class="buttonLogout" style="width:28%; display: block; margin-left: auto; margin-right: auto; margin-top:15px;margin-bottom: 25px;">Logout</a>

    <script type="text/javascript">
        var minutesLabel = document.getElementById("minutes");
        var secondsLabel = document.getElementById("seconds");
        var totalSeconds = 0;
        setInterval(setTime, 1000);

        function setTime()
        {
            ++totalSeconds;
            secondsLabel.innerHTML = pad(totalSeconds%60);
            minutesLabel.innerHTML = pad(parseInt(totalSeconds/60));
        }

        function pad(val)
        {
            var valString = val + "";
            if(valString.length < 2)
            {
                return "0" + valString;
            }
            else
            {
                return valString;
            }
        }
    </script>
{% endblock content%}

