<div class="form-card-container register">
  <h2>Register</h2>
  <form method="post">
    <div class="input-text-container">
      <div class="user-box email">
        <label for="email">Email</label>
        <input
          type="email"
          name="email"
          placeholder="Enter Email"
          value="{{ request.form['email'] }}"
          required
        />
      </div>

      <div class="user-box">
        <label for="name">Name</label>
        <input
          type="text"
          name="name"
          placeholder="Enter Name"
          value="{{ request.form['name'] }}"
          required
        />
      </div>

      <div class="user-box phone">
        <label for="name">Phone Number</label>
        <input
          type="number"
          name="phone"
          placeholder="Enter Phone Number"
          value="{{ request.form['phone'] }}"
          required
        />
      </div>

      <div class="user-box address">
        <label for="address">Address</label>
        <input
          type="text"
          name="address"
          placeholder="Enter Address"
          value="{{ request.form['address'] }}"
          required
        />
      </div>

      <div class="user-box city">
        <label for="city">City</label>
        <input
          type="text"
          name="city"
          placeholder="Enter City"
          value="{{ request.form['city'] }}"
        />
      </div>

      <div class="user-box password">
        <label for="password">Password</label>
        <input
          type="password"
          name="password"
          placeholder="Enter Password"
          value="{{ request.form['password'] }}"
          required
        />
      </div>
    </div>

    <p>What account type are you registering for?</p>

    <div class="radio-container">
      <div class="radio">
        <input
          type="radio"
          id="visitor"
          name="userType"
          value="visitor"
          checked
        />
        <label for="visitor">Visitor</label>
      </div>

      <div class="radio">
        <input type="radio" id="place" name="userType" value="place" />
        <label for="place">Place Owner</label>
      </div>

      <!-- <div class="radio">
        <input type="radio" id="agency" name="userType" value="agency" />
        <label for="agency">Agency</label>
        </div> -->
      <!-- <div class="radio">
        <input type="radio" id="hospital" name="userType" value="hospital" />
        <label for="hospital">Hospital</label>
        </div> -->
    </div>
    <button type="submit">Register</button>
  </form>

  <a href="{{ url_for('login') }}">Already have an account? Login now!</a>
</div>

<script
  defer
  src="{{ url_for('static', filename = 'js/registerForm.js') }}"
></script>
