{% extends 'base.html' %} {% block head %}
<link
  rel="stylesheet"
  type="text/css"
  href="{{ url_for('static', filename='css/base.css')}}"
/>
<link
  rel="stylesheet"
  type="text/css"
  href="{{ url_for('static', filename='css/form.css')}}"
/>
{% endblock %} {% block content %} {% include 'navbar.html' %}
<div id="register-left" style="width: 35%; float: left">
  <section id="entry"></section>
</div>
<div id="register-right" style="width: 65%; float: right">
  <section id="about">
    {% with messages = get_flashed_messages() %} {% if messages %}
    <div class="flashNotification danger">
      {{ messages[0] }} Go to <a href="{{ url_for('login') }}">login page</a>
    </div>
    {% endif %} {% endwith %} {% include 'registration_form.html' %}
  </section>
</div>
{% endblock %}
