<footer class="footer-distributed" style="position: absolute;">
    <div class="footer-left">
        <p class="footer-links">
        <h3>Quick Links</h3>
        <div>
            <a href="{{ url_for('index') }}">
                <h4>Home</h4>
            </a>
            <a href="{{ url_for('index') }}">
                <h4>Support</h4>
            </a>
        </div>
        </p>
        <p class="footer-company-name">CoronaArchieve © 2022</p>
    </div>
    <div class="footer-right">
        <h1 style="text-align: center; color: rgb(255, 255, 255);">Impressum</h1>
        <p style="font-family: serif; ">
  
            This website is student lab work and does not necessarily reflect Jacobs
            University Bremen opinions. Jacobs University Bremen does <br> not endorse this site,
            nor is it checked by Jacobs University Bremen regularly, nor is it part of the
            official Jacobs University Bremen <br>web presence. For each external link existing
            on this website, we initially have checked that the target page does not contain
            contents <br>which is illegal wrt. German jurisdiction. However, as we have no in-
            fluence on such contents, this may change without our notice.<br> Therefore we
            deny any responsib- ility for the websites referenced through our external
            links from here. No information conflicting<br> with GDPR is stored in the server.
        </p>
    </div>
</footer>