{% extends "baselayout.html" %} {% block content %}
<div class="container">
  <h1 style="text-align: center; padding-top: 10%; color:rgb(31, 163, 101);">Imprint</h1>
  <p style="text-align:justify; padding: 10%; color:rgb(31, 163, 101);">
    This website is student lab work and does not necessarily reflect Jacobs
    University Bremen opinions. Jacobs University Bremen does not endorse this
    site, nor is it checked by Jacobs University Bremen regularly, nor is it
    part of the official Jacobs University Bremen web presence. For each
    external link existing on this website, we initially have checked that the
    target page does not contain contents which is illegal wrt. German
    jurisdiction. However, as we have no influence on such contents, this may
    change without our notice. Therefore we deny any responsibility for the
    websites referenced through our external links from here. No information
    conflicting with GDPR is stored in the server.
  </p>
  <p style="text-align: center; color:rgb(31, 163, 101);">Thank You!</p>
</div>
{% endblock content %}
