{% extends "baselayout.html" %} {% block content %}
<div class="container" id="container">
  <!-- Visitor login form -->
  <div class="form-container sign-in-container">
    <form method="POST" action="#" class="form" id="login">
      <h1 class="form__title">Visitor Login</h1>
      <div class="form__input-group">
        <br>
        <!-- Username Field -->
        <label for="email">Email: </label>
        <input
          type="text"
          class="form__input"
          name="email"
          id="email"
          required
        />
      </div>
      <div class="form__input-group">
        <br>
        <!-- Password Field -->
        <label for="password">Password: </label>
        <input
          type="password"
          class="form__input"
          name="password"
          id="password"
          required
        />
      </div>
      <div class="form__input-group">
        <br>
        <!-- Submit Button -->
        <button type="submit" class="form__button">Submit</button>
      </div>
    </form>
  </div>

  <!-- Place for additional Information on right side -->
  <div class="overlay-container">
    <div class="overlay">
      <div class="overlay-panel overlay-right">
        <h1>Sign in with us and Scan the QR Code.</h1>
        <h3 style="color:rgb(203, 47, 47);">Do not have an account?</h3>
        <a style="color:rgb(203, 47, 47);"" href="{{ url_for('visitor_registration') }}"
          >Register Here</a>
      </div>
    </div>
  </div>
</div>
{% endblock content%}
